body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* *** il y'a trois parties sur le site****/
/*** ceci est le prèmier container section ***/
.container-principal-un {
    width: 100%;
    max-width: 2000px;
    padding: 0 0 250px 0;
}

/**** header ****/
header {
    display: flex;
    margin: 20px 20px;
}

.header-jhon {
    padding: 20px;
}

.header-jhon a {
    text-decoration: none;
}

.header-jhon a p {
    font-family: 'Fjalla one';
    font-weight: 700;
    font-size: 1.7em;
    color: #1A1C12;
    letter-spacing: -2px;
    text-transform:capitalize;
}

/* cacher pour responsive mobile */
.nav-bar {
    display: none;
}

/**** liens boutons ****/
.container-liens {
    width: 100%;
    max-width: 350px;
    margin: 150px 0 0 120px;
}

.container-liens  > ul {
    display: flex;
    flex-direction: column;
    gap:220px;
}

.container-liens ul li a {
    color: #1a1c12;
    font-family:'Bubbler one';
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#FAC84A;
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-liens ul li a:active{
    top:10px;
    color: rgb(255, 255, 255);
    background-color:rgb(90, 131, 63);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #ffffff;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #ffffff;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #ffffff;
}

.container-liens ul li a:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-liens ul li:nth-child(2) a {
    margin-left: 120px;
}

/* *** grands carre haut de page *** */
.container-text-principal {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    
}

.container-text {
    width: 100%;
    max-width: 550px;
    width: 700px;
    font-family: 'Fjalla one';
    border: 5px solid #3f3d3b;
    padding: 15% 10%;
    border-radius: 70px;
    position: absolute;
    top: -900px;
    right: -150px;
    transform: rotate(-20deg);
    z-index: -1;
    
    -webkit-box-shadow: -13px 10px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -13px 10px 0px 0px rgba(0,0,0,0.75);
    box-shadow: -13px 10px 0px 0px rgba(0,0,0,0.75);
}


.container-text h1 p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.container-text p {
    font-size: 6em;
    text-align: center;
    font-weight: 800;
    color: #1A1C12;
}

.container-text h1 p:nth-child(2) {
    font-size: 4em;    
    font-weight: 500;
    font-weight: 800;
    color: #1A1C12;
}

/**** petit carre haut de page ****/

.container-text-petit {
    background-color: #faf4ec;
    width: 20%;
    border: 5px solid #3f3d3b;
    padding: 100px;
    border-radius: 30px;
    position: absolute;
    top: -100px;
    right: 400px;
    transform: rotate(5deg);
    
    -webkit-box-shadow: -11px -9px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: -11px -9px 0px 0px rgba(0,0,0,1);
    box-shadow: -11px -9px 0px 0px rgba(0,0,0,1);
}

.container-text-petit h2 {
    width: 100%;
}

    .container-text-petit p {
        font-family: 'Bubbler one';
        font-weight: 800;
        font-size: 1.9em;
    }

/*** ceci est le Deuxième container section ***/
.container-principal-deux{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1C12;
    color: #faf4ec;
    border-radius: 40px;
    overflow: hidden;
}

.container-infos {
    max-width: 1500px;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
}

.container-enfant{
    width: 100%;
    margin-right: 30px;
    max-width: 250px;
    height: 100%;
    max-height:40vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
    border:4px solid #faf4ec;
    border-radius: 12px;

    -webkit-box-shadow: -12px 12px 0px 0px rgba(250,244,236,1);
    -moz-box-shadow: -12px 12px 0px 0px rgba(250,244,236,1);
    box-shadow: -12px 12px 0px 0px rgba(250,244,236,1);
}


.container-enfant img {
    border-radius: 12px;
    transform: scaleX(-1);
}

.container-enfant1 {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap:60px;
}

.container-education {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Bubbler one';
}

.container-education div p:nth-child(1) {
    font-size: 1em;
    font-weight: 500;
}

.container-langages {
    width: 100%;
    max-width:400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.division {
    display: flex;
    flex-direction: column;
}
.container-enfant2 {
    width: 100%;
    font-size: 1em;
    max-width: 400px;
    margin: 12px 0 0 0;
    display: flex;
    justify-content: center;
}

.programmes {
    width: 100%;
    max-width: 250px;
}

.container-barreDProgression {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.barreDProgression {
    border:1px solid #faf4ec;
    border-radius: 3px;
}

#one {
    width: 10%;
    height: 4px;
    background-color:#faf4ec;
}

#two {
    width: 20%;
    height: 4px;
    background-color:#faf4ec;
}

#three {
    width: 30%;
    height: 4px;
    background-color:#faf4ec;
}

#four {
    width: 40%;
    height: 4px;
    background-color:#faf4ec;
}

#five {
    width: 50%;
    height: 4px;
    background-color:#faf4ec;
}
#six {
    width: 60%;
    height: 4px;
    background-color:#faf4ec;
}

#seven {
    width: 70%;
    height: 4px;
    background-color:#faf4ec;
}

#eight {
    width: 80%;
    height: 4px;
    background-color:#faf4ec;
}

#nine {
    width: 90%;
    height: 4px;
    background-color:#faf4ec;
}
#ten {
    width: 100%;
    height: 4px;
    background-color:#faf4ec;
}

/*** section projets ***/
.mes-projects {
    width: 100%;
    max-width: 2000px;
    padding: 150px 0 0 0;
    overflow: hidden;
}

.projets-enfant {
    width: 100%;
    padding: 0 90px;
}

.projets-enfant p {
    font-size: 15em;
    font-family: 'Fjalla one';
    text-transform: uppercase;
    letter-spacing: -15px;
}

.container-carre-projects {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    height: 1100px;
    position: relative;
    overflow: hidden;
}

.container-child-projets {
    width: 100%;
    max-width: 650px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:4px solid #1A1C12;
    border-radius: 20px;
    padding: 10px 0;

    position: absolute;
    
    -webkit-box-shadow: 10px 10px 0px -1px rgba(26,28,18,1);
    -moz-box-shadow: 10px 10px 0px -1px rgba(26,28,18,1);
    box-shadow: 10px 10px 0px -1px rgba(26,28,18,1);
}

.container-carre-projects .container-child-projets:nth-child(1) {
    top: 400px;
    left: 150px;
}

.container-carre-projects .container-child-projets:nth-child(2) {
    right: 200px;
}

.container-child-projets img {
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin: 10px 0;
    object-fit: contain;
    border-radius: 20px;
}

.container-child-projets:nth-child(1) div  {
    align-self: flex-start;
}
.container-child-projets:nth-child(2) div  {
    align-self: flex-end;
}

.container-points {
    display: flex;
    gap: 5px;
    margin: 5px 10px;
}

.point {
    background-color: #1A1C12;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.container-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container-buttons a{
    text-decoration: none;
	background-color: #fac84a;
    color: #1A1C12;
	border:2px solid #1A1C12;
	border-radius: 12px;
	padding: 5px 10px;
}

.modal h1 {
    font-size: 1.5em;
}

.editer-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.separation-form-text {
    display: flex;
    flex-direction: column;
}
.modal-btn {
    padding: 10px 14px;
    font-size: 18px;
    margin: 100px auto;
    display: block;
    min-width: 150px;
    cursor: pointer;
}

.modal-container {
/* display: none; */
visibility: hidden;
position: fixed;
top: 0;
width: 100vw;
height: 100vh;
transition: visibility 0.4s;
}

.modal-container.active {
/* display: block; */
visibility: visible;
}

.overlay {
opacity: 0;
position: absolute;
width: 100%;
height: 100%;
background: #333333d3;
transition: opacity 0.4s 0.2s ease-out;
}

.modal-container.active .overlay {
opacity: 1;
transition: opacity 0.4s ease-out;
}

.modal {
opacity: 0;
width: 95%;
max-width: 500px;
min-width: 300px;
padding: 30px;
background: #fff;
border-radius: 5px;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, calc(-50% - 50px));
transition: opacity 0.4s ease-out,
transform 0.4s ease-out;
}

.modal-container.active .modal {
opacity: 1;
transform: translate(-50%, -50%);
transition: opacity 0.4s 0.2s ease-out,
transform 0.4s 0.2s ease-out;
}

.close-modal {
padding: 8px 10px;
border: none;
border-radius: 5px;
font-size: 18px;
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
background: #ff365e;
color: #fff;
}
.modal h1 {
margin-bottom: 10px;
font-family: Montserrat, sans-serif;
font-weight: 500;
}
.modal p {
line-height: 1.4;
margin-bottom: 5px;
}


/*Section  contact */

.container-contact {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #faf4ec;
    background-color: #1A1C12;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.container-contact-child {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    position: relative;
}
.container-contact-child a {
    width: 70%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.container-marges {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
}

.contactez-moi {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 10px;
    background-color: #faf4ec;
    color: #1A1C12;
    border-radius: 20px;
    cursor: pointer;

    transition: 0.5s ease;
}

.contactez-moi:hover {
    background-color: #FAC84A;

}

.contactez-moi p:nth-child(1) {
    font-size: 5em;
    font-family: 'Bubbler one';
    font-weight: 800;
    text-transform: uppercase;
}

.contactez-moi p:nth-child(3) {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 600;
}

.container-tel-email {
    width: 100%;
    max-width: 2000px;
    position: relative;
}

.position1 {
    position: absolute;
    top: 50px;
    left: 30%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.position2 {
    position: absolute;
    top: 50px;
    left: 70%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.container-tel-email-child {
    background-color: #1A1C12;
    width:300px;
    padding: 90px 100px;
    border: 2px solid #faf4ec;
    border-radius: 20px;

    -webkit-box-shadow: 10px -10px 0px 0px rgba(250,244,236,1);
    box-shadow: 10px -10px 0px 0px rgba(250,244,236,1);
}

.container-tel-email-child p:nth-child(1) {
    font-family: 'Bubbler one';
    font-size: 3em;
    font-weight: 600;
    text-transform: capitalize;
}








hr {
    margin: 0 10%;
}

footer {
    width: 100%;
    background-color: #1A1C12;
}

.container-footer {
    max-width: 1500px;
    margin:0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
}

.container-footer p {
    color: #faf4ec;
    text-align: center;
}

.icons-social {
    display: flex;
    gap: 20px;
}


footer  img {
    width: 100%;
    max-width: 30px;
}   
