@media (max-width : 1699px) {

    .container-child-projets {
        max-width: 500px;
        height: 350px;
    }

    .container-child-projets img {
        width: 90%;
    }
}

@media (max-width : 1835px) {

    .container-tel-email-child {
        width: 250px;
    }
}

@media (max-width : 1731px) {

    .container-tel-email-child {
        width: 250px;
    }
}

@media (max-width : 1719px) {

    .container-tel-email-child { 
        width: 150px;
    }

    .container-row p {
        font-size: 15px;
    }
}

@media (max-width : 1529px) {

    .container-text h1  p{
        font-size: 4em;
    }

    .container-contact {
        height: 1000px;
    }

    .container-tel-email-child {
        width: 60%;
        height: 50px;
        padding: 30px 50px;
    }

    .position1 {
        top: 20px;
        left: 240px;
    }

    .position2 {
        top: 150px;
        left: 240px;
    }

    .contactez-moi {
        width: 50%;
    }

}

@media ( max-width: 529px ) {

    .container-principal-un {
        margin: 0 auto;
        overflow-x: hidden;
    }
}