/*********** pour les textes principaux **********/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/*********** textes moyens  **********/
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');
/*********** textes general  **********/
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

@import url('./index.css');
@import url('./responsive.css');
@import url('./formulaire.css');
@import url('./burger-menu.css');
@import url('./navbar.css');

:root {
	/* couleurs  */
	--color-yellow : #fac84a;
	--color-black : #1A1C12;
	--color-white : #FAF4EC;

	/* fonts textes moyens*/
	--font-text-2 : font-family: 'Bubbler one';
}

/*********** Reset css  **********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-color: #FAF4EC;
	line-height: 1;
    font-family: 'Spinnaker', sans-serif;
    color: #1A1C12;
    box-sizing: border-box;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container-row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.container-col {
    display:flex;
    flex-direction: column;
}

.justify-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

h2 {
    font-family: 'Bubbler one' ;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

p {
	font-family: 'Spinnaker', sans-serif;
	text-transform: lowercase;
	font-size: 16px;
	font-weight: 100;
}

h3 {
    font-family: 'Bubbler one' ;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

button {
    background: none;
    border: none;
    box-shadow: none;
    color: inherit;
    font: inherit;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}

button {
	background-color: #fac84a;
	border:2px solid #1A1C12;
	border-radius: 12px;
	padding: 5px 10px;
}

.icons {
	width: 100%;
	max-width: 20px;
}

/* eviter le debordement */
.container-row img {
	width: 20px;
}

/* transitions JS*/
.reveal {
    opacity: 0;
    transform: translateY(30px);
}

.reveal--visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
}

.reveal-2 {
	transition-delay: .1s;
}

.reveal-3 {
	transition-delay: .1s;
}

.reveal-4 {
	transition-delay: .1s;
}
